<p class="page-title">Users</p>

<div class="users" ng-app="letspair" ng-controller="UsersAllCtrl">

  <input type="text" ng-model="sort">
  <select ng-model="sort">
    <option>username</option>
    <option>timezone</option>
    <option>created_at</option>
  </select>
  <button ng-show="!dir" ng-click="dir = !dir">Ascending</button>
  <button ng-show="dir" ng-click="dir = !dir">Descending</button>

  <ul class="users">
    <div class="no-users" ng-show="users.length == 0">no users</div>
    <li class="session-full" ng-repeat="user in users | orderBy:sort:dir | startFrom:currentPage*pageSize | limitTo:pageSize">
      <userpartial opensContactForm user='user'></userpartial>
      <div class="separator-white"></div>
    </li>
  </ul>
  <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
    Previous
  </button>
  {{currentPage+1}}/{{numPages()}}
  <button ng-disabled="currentPage >= numPages()-1" ng-click="currentPage=currentPage+1">
    Next
  </button>
</div>
